body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}


.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #333;
    text-align: center;
    font-size: 35px;
}
.b {
    text-align: center;
    font-size: 25px;
}
.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button, a {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #5c8f64;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}
button {
    background-color: #4caf50;
}

a {
    background-color: #ff5722;
    margin-left: 10px;
}

button:hover, a:hover {
    opacity: 0.8;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.flash.success {
    background-color: #4caf50;
    color: white;
}

.flash.danger {
    background-color: #f44336;
    color: white;
}
.bottom-container {
    background: #86A8E7;
    padding:20px;
    align-text: center;
    box-sizing: border-box;
    position:absolute;
    bottom:0px;
    text-align: center;
    margin: 0;
    width : 100%;
    }

.hero {
    text-align: center;
}
h2 {
    text-align: center;
}
button{
    font-size: 20px;
}

input {
    font-size: 20px;
}

.logout {
    padding: 5px 10px;
    text-decoration: none;
    background-color: red;
    color: white;
    float: right;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.top{
    box-sizing: border-box;
}
