<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Manager Web Application</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/style.css')}}">
</head>
<body class="color-change-2x">

    <!-- Main Content Section -->
    <main>
        <section id="hero">
            <div class="header">
                <h1>Welcome to Task Manager Web Application!</h1><br><br>
            </div>
            <div class="b">
                 <p>To Manage your tasks, Please login.</p>
                <a href="{{url_for('login') }}">Login</a>
                <a href="{{url_for('register') }}">Register</a>
            </div>

        </section>

    </main>

    <!-- Footer Section -->
    <footer class="bottom-container">
        <p>&copy; 2024 Task Manager Web Application. All rights reserved.</p>
    </footer>

</body>
</html>
